.non-printable {
    visibility:hidden;
    display: none;
}

#logo-print {
    background-color: #383838!important;
    -webkit-print-color-adjust: exact!important;
}

@page {
    size: auto;
    margin: 0;
}

body {
    margin: 1.6cm;
    height: 85%;
}

html, body {
    page-break-after: avoid;
    page-break-before: avoid;
}
