.non-printable {
    visibility:hidden;
    display: none;
}

#logo-print {
    background-color: #383838!important;
    -webkit-print-color-adjust: exact!important;
}

.content {
    margin-top: -100px;
}

@page {
    size: auto;
    margin: 0;
}
body {
    margin: 1.6cm;
}
